* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(3, 19, 33);
}

div {
    display: inline-block;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    padding: 20px 20px;
    letter-spacing: 10px;
    background-color: rgb(3, 19, 33);
    color: rgb(33, 146, 243);
    border-radius: 50px;
    border: 5px solid rgb(33, 146, 243);
    font-weight: bolder;
    margin: 0 50px;
    text-align: center;
}

#container a:hover {
    color: #255784;
    background-color: #2196f3;
    border: 5px;
    filter: brightness(200%);
    box-shadow: 0 0 70px #2196f3, 0 0 70px #2196f3, 0 0 70px #2196f3;
    font-weight: lighter;
    transition: all 0.3s ease;

}

header h1 {
    color: #2196f3;
    font-family: sans-serif;
    top: 20px;
    position: fixed;
    letter-spacing: 3px;
    word-spacing: 3px
}

header {
    display: flex;
    justify-content: center;
}

@media (max-width: 300px) {
    #container a {
        font-size: 80%;
        letter-spacing: 5px;
        text-align: center;
    }

}

@media (max-width :400px) {
    header h1 {
        font-size: 20px;
        letter-spacing: 5px;
        text-align: center;
    }
}